body{
    margin:30px,30px,30px,30px;
    border: 2px,solid black;    
}
header p:nth-child(1){
    background:#f1f1f1 !important;
    margin: 0%;
    text-align: center; 
}
header h1{
    margin-bottom: 10px ;    
    padding-bottom :    0%;   
    background-color:black;
    color: white;
    font-style: oblique;
    text-align: center; 
    
}   
section{    
    border:2px solid black;
    padding:10px;
    margin-block-end: 20px;
    text-align: auto;
    font-style: bold;
}
article{
    padding-top: 10px;
}
footer{
    background-color: #000;
    color:white;
    text-align: center; 
}